 .navLink {
   text-decoration: none;
   color: black;
   margin-left: 20px;
  }
.sidebars {
   width: 10%;
   background-color: rgb(235, 202, 152);
   height: 650px;
   float: left;
   transition: 0.2s;
   text-decoration: none;
   font-size: 20px;
   color: rgb(150, 31, 31);
   padding: 25px;
}
.number {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
      }
.about {
  background-color: #31cc93;
 }
.srno {
   display: flex;
   margin-top: 155px;
   height: 50px;
   background-color: antiquewhite;
   justify-content: space-around;
   align-items: center;
}
.bot {
   display: flex;
   margin-top: 85px;
   height: 50px;
   background-color: rgb(250, 251, 210);
   justify-content: space-around;
   align-items: center;
}
.img {
   width: 20%;
   width: 500px;
}
.top {
   margin-top: 1rem;
 }
 .minim{ margin-top: 100px;}